html, body {
    height: 100%;
    margin: 0;
}
.profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.personal-info-container{
    flex: 1;
    border: 2px solid red;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.following-info{
    flex: 2;
    border: 2px solid blue;
}

.username{
    text-align: center;
}

.profile-img{
    height: 40%;
}