{% extends "socialnetwork/base.html" %}

{% load static %}

{% block body %}
<script src="{% static 'socialnetwork/youtube_player.js' %}" type="text/javascript"></script>
    <div class="grid-container">
        <div class="main-player">
            <div id="player" ></div>
            <p id="video-id" videoId={{fvideo.id}} mins={{fvideo.total_mins}}></p>
        </div>
        <div class="playlist-parent">
            <div class="lesson-title">{{playlist.title}}</div>
            {% for video in videos%}
                <div class="lesson-item {%if video.id == fvideo.id %} active-item {%endif%}" id={{video.id}}>
                    <a href="{% url 'course' playlist.id %}?v={{video.id}}" class="lesson-link {%if video.id == fvideo.id %} active-item-link {%endif%}">
                        {%if video.id == fvideo.id %}
                            <img src="{% static '/socialnetwork/images/playing.png' %}" height="20">
                        {% else %}
                            <img src="{% static 'socialnetwork/images/play.png' %}" height="20">
                        {% endif %}
                        {{video.title}}
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>


{% endblock%}