{% extends "socialnetwork/base.html" %}

{% load static %}

{% block body %}

    <div>
        <h1 class="display-6 info">Turn any of your playlists into a course by clicking on it</h1>
    </div>
    <div class="playlist-container">
        <div class="your-playlist-list">

            {% for item in items %}
                <div class="vid-list">
                    <div class="img__wrap">
                        <a href="{% url 'course' item.id %}?">
                            <img src={{item.playlist_thumbnail}} alt="" class="thumbnail img__img">
                            <p class="img__description">{{item.duration}}</p>
                        </a>
                    </div>
                    <div class="flex-div">
                        <img src={{item.channel_thumbnail}} alt="" width="45" height="45" class="channel-thumbnail">
                        <div class="vid-info">
                            <a href="" class="playlist-title">{{item.title}}</a>
                            <p><a href="{% url 'profile' request.user.username  %}" class="user-link">{{item.channel_name}}</a></p>
                        </div>  
                    </div> 
                </div>

            {% empty %}
                <p> You have no Youtube Playlists yet </p>
            {% endfor %}
        </div>
    </div>



{% endblock %}