{% extends "socialnetwork/base.html" %}

{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'socialnetwork/profile.css' %}">

<div class="container">
  <div class="card overflow-hidden">
    <div class="card-body p-0">
      <div class="row align-items-center">
        <div class="col-lg-4 order-lg-1 order-2">
          <div class="d-flex align-items-center justify-content-around m-4">
            <div class="text-center">
              <i class="fa fa-file fs-6 d-block mb-2"></i>
              <h4 class="mb-0 fw-semibold lh-1">2</h4>
              <p class="mb-0 fs-4">Courses</p>
            </div>
            <div class="text-center">
              <i class="fa fa-user fs-6 d-block mb-2"></i>
              <h4 class="mb-0 fw-semibold lh-1">10</h4>
              <p class="mb-0 fs-4">Followers</p>
            </div>
            <div class="text-center">
              <i class="fa fa-check fs-6 d-block mb-2"></i>
              <h4 class="mb-0 fw-semibold lh-1">{{number_following}}</h4>
              <p class="mb-0 fs-4">Following</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-n3 order-lg-2 order-1">
          <div class="mt-n5">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;" ;="">
                <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;" ;="">
                  <img src={{user_info.picture}} alt="" class="w-100 h-100">
                </div>
              </div>
            </div>
            <div class="text-center">
              {% comment %} <p class="fs-5 mb-0">{{user.email}}</p> {% endcomment %}
              <h5 class="mb-0 fs-4">{{user_info.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    
    <div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
      <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Following <span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2">20</span></h3>
      </div>
      <div class="row">
        {% for user_profile in profile.following.all%}
          <div class="col-sm-6 col-lg-4">
            <div class="card hover-img">
              <div class="card-body p-4 text-center border-bottom">
                <a class="profile-card-link"  href="{% url 'profile' user_profile.username %}">
                  <img src={{user_profile.profile.picture}} alt="" class="rounded-circle mb-3" width="80" height="80">
                  <h5 class="fw-semibold mb-0">{{user_profile}}</h5>
                  <span class="text-dark">{{user_profile.email}}</span>
                </a>
              </div>
              <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                <li class="position-relative">
                  <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                    <i class="ti ti-brand-facebook"></i>
                  </a>
                </li>
                <li class="position-relative">
                  <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                    <i class="ti ti-brand-instagram"></i>
                  </a>
                </li>
                <li class="position-relative">
                  <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                    <i class="ti ti-brand-github"></i>
                  </a>
                </li>
                <li class="position-relative">
                  <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold " href="javascript:void(0)">
                    <i class="ti ti-brand-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        {% empty %}
          <h5>Not following anyone yet</h5>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}